// _variables.scss
// ======================
@import "http://fonts.googleapis.com/css?family=Leckerli+One%7CRokkitt:700,400%7CLuckiest+Guy";

$font-main: Rokkitt;
$nav-button-color: green;
$main-font-color: #555;


/* Bootstrap */
$navbar-inverse-brand-color: red;